# Ignore keys files
**/keys_local.js
/python/keys
env.json
credentials/*
build_log/*
data/countries/*/final_images.json

firebase-debug.log# Build JSON files
build/*/json/training_plans_processed_*.json

# SEO cache files
data/countries/*/seo_content_cache.json
build/
