<!DOCTYPE html>
<html lang="{{ country_language_code }}">
  <head>
    <!-- Schema Data (Important for SEO) -->
    {% for schema_type, schema in schema_data.items() %} {% if schema is defined
    and schema is not none %}
    <script type="application/ld+json">
      {{ schema | tojson | safe }}
    </script>
    {% endif %} {% endfor %}

    <!-- Essential Meta Tags -->
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="initial-scale=1,maximum-scale=1,user-scalable=no"
    />
    <title>{{ title_race_list }}</title>
    <meta name="description" content="{{ meta_description }}" />

    <!-- Critical preloads -->
    <link rel="preload" href="/css/bundle.css" as="style" />
    <script src="/js/imagePreloader.js" fetchpriority="high"></script>
    <script src="/js/cssLoader.js"></script>

    <!-- Preconnect to critical domains -->
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://api.mapbox.com" crossorigin />

    <!-- Favicon -->
    <link rel="icon" href="/common_images/logo.svg" type="image/svg+xml" />

    <!-- Main CSS bundle -->
    <link rel="stylesheet" href="/css/bundle.css" />

    <!-- Fonts - load async -->
    <link
      href="https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap"
      rel="stylesheet"
      media="print"
      onload="this.media='all'"
    />

    <!-- Critical Scripts -->
    <script type="module" src="/js/commonFunctions.js"></script>
    <script src="/js/raceList.js"></script>

    <!-- Deferred race-related scripts bundle -->
    <script defer src="/js/race-bundle.js"></script>

    <!-- Mapbox - load async -->
    <script
      defer
      src="https://api.mapbox.com/mapbox-gl-js/v3.8.0/mapbox-gl.js"
    ></script>
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v3.8.0/mapbox-gl.css"
      rel="stylesheet"
      media="print"
      onload="this.media='all'"
    />

    <!-- Ad-related preconnects -->
    <link
      rel="preconnect"
      href="https://pagead2.googlesyndication.com"
      crossorigin
    />
    <link
      rel="preconnect"
      href="https://googleads.g.doubleclick.net"
      crossorigin
    />
    <link
      rel="preconnect"
      href="https://tpc.googlesyndication.com"
      crossorigin
    />
    <link rel="preconnect" href="https://adservice.google.com" crossorigin />

    <!-- Ads Script - load last -->
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7076760775175370"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    {% include 'components/initial_loader.html' %}
    <div id="page-wrapper">
      <main>{% block content %}{% endblock %}</main>
      {% include 'components/footer.html' %}
    </div>
  </body>
</html>
